body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #4fa4dd;
}

.header_text {
    font-family: 'Nunito';
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}